h1 {
    background-image: url('bg1.jpg')  
}

h2 {
    background-color: orangered;
}

h3 {
    border: 4mm ridge rgb(240, 75, 150);
}

h4 {
    cursor: cell;
}

h5 {
    font-family: Impact;
    font-size: 25pt;
}

h6 {
    letter-spacing: 8px;
}

.text-decoration {
    text-decoration: green wavy underline;
}

.line-above {
    text-decoration: overline #ff3028;
}

.list {
    list-style: georgian inside url('cross.svg');
    font-size: 32pt;
}